@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
	--main-color : #A51515;
	--black : #000;
	--white : #fff;
	--box-around : #B28F8F;
	--box-around-width : 847px;
	--box-around-height : 364px;
	--box-around-corner-radius : 3px
	--input-form-background : #EDFE71;
	--button-color : #15F42A;
	--navbar-height : 120px;
	--bluish-color : #1B5D9A

}



*, html, body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

body{
	background: var(--white);
}

.navbar{

	position: relative;
	background: var(--main-color);
	height: 80px;
	padding: 10px;

}

ul{

}

a{
	text-decoration: none;
	font-size: 17px;
	color:  var(--white);
}

.vertical-navbar{
	background: var(--bluish-color);
	width: 240px;
    height: calc(100vh - 80px);
    padding: 5px 10px;
    float: left;

}

.search_form{
	display: flex;
	/*width: 300px;*/
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 10px;
}

.search_form > input{
	width: 300px;
}

.all_inventories{
	text-align: center;
	margin: 10px;
	font-size: 18px;
	text-decoration: underline;
}

table{
	border-collapse: collapse;
	color: white;
}

th{
	font-weight: 900;
	font-display: block;
}

table, th, td{
	border: solid 1px;
	border-radius: 10px;
	text-align: center;
}

th,  td{
	padding: 5px;
}

td{
	font-size: 12px;
}

tr:nth-child(odd){
	background: var(--bluish-color);
	--bluish-color
}

tr:nth-child(even){
	background: var(--main-color);

}

.vertical-navbar > ul{
	display: flex;
	flex-direction: column;
}

.vertical-navbar > ul >a{
	margin:  15px;
}

.workspace{
	position: relative;
	border-left: 5px solid #fff;
	/*background: var(--bluish-color);*/
	width: calc(100% - 240px);
	height: calc(100vh - 80px);
    padding: 5px 10px;
    float: right;
    top: 0;

    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*.workspace > form > input{
	margin: 10px;
	max-width: 400px;
}*/

.workspace > form > input, #signature{
	margin: 10px;
	max-width: 80%;
}

.signature_div{
	max-width: 40%;
	background: #EDFE71;
	border: none;
	border-radius: 5px;
	height: 100px
	padding: 0 20px;
	left: 50%;
}



.main{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.form-div{
	width: 847px;
	/*height: 364px;*/
	align-self: center;
	border: 1px solid var(--box-around);
	border-radius: 3px;
	margin-top: 30px;
	overflow-y: hidden;

}

.login{
	display: block;
	justify-content: center;
	align-items: center;
	padding: 6% 25px;
}

.login-input{
	width: 100%;
	margin-top: 17px;
	border: none;
}

input{
	width: 80%;
	background: #EDFE71;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 0 20px;
}


.login-button{
	margin-top: 17px;
	background: var(--button-color);
	width: 287px;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: var(--white);
	font-size: 17px;
}
