{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="main">
    <div class="form-div">
      <form class="form" action="#" method="post">
        <label for="firstname">First name : </label>
        <input type="text" name="firstname" required><br>

        <label for="lastname">Last name : </label>
        <input type="text" name="lastname" required><br>

        <label for="email">Email : </label>
        <input type="email" name="email" required><br>

        <label for="signature">Signature : </label>
        <div class="signature_div" name="signature">

        </div>

        <button type="submit" class="login" name="save">Save</button>

      </form>
    </div>
  </div>
{% endblock content %}
